* {
    font-family: 'Lato', sans-serif;
    color: #f2ede3;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}
/* menu */
.openButton {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1%;
    border-radius: 7%;
    text-transform: uppercase;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transition: all 0.2s linear;
}

.openButton:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    transition: all 0.2s linear;
}

.sidenav {
    height: 350px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 16, 16);
    overflow: hidden;
    transition: 0.4s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.1s;
    height: 10%;
  }
  
  .logo {
    margin-top: 10px ;
    width: 100%;
    height: 15% !important; 
    font-size: 2em !important;
    padding: 8px 8px 8px 50px !important;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    bottom: 7.5%;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
  }

/* menu */

.mainContainer {
    width: 100%;
    height: 100%;
}

/* left */
.leftContainer {
    width: 50%;
    height: 100%;
    background: #333842;
    float: left;
}

.contentLeft {
    width: 100%;
    height: 70%;
    background: #21252b;
    position: relative; 
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentLeft img {
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 80%;
}
/*left */

/* right */
.rightContainer {
    width: 50%;
    height: 100%;
    background: #312E40;
    float: right;
}

.rightContainer h2 {
    width: 85%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 2em;
}

.rightContainer p {
    width: 83%;
    padding: 0 1% 0 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 1.05em;
    line-height: 1.7em;
    letter-spacing: 1px;
    overflow: auto;
    height: 80%;
}
/* right */